<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
  </head>
  <body>
    <div
      style="font-family: Arial, sans-serif; color: #333; text-align: center"
    >
      <h2>Chào mừng bạn đến với NETMANGA!</h2>
      <p>Vui lòng sử dụng mã xác nhận dưới đây để hoàn tất đăng ký tài khoản:</p>
      <h3 style="color: #13c2c2"><b>{{ otp }}</b></h3>
      <p>Nếu bạn không yêu cầu đăng ký tài khoản, vui lòng phản hồi email này.</p>
      <p>Trân trọng!</p>
    </div>
  </body>
</html>